@font-face {
    font-family: 'Circular';
    src: local(Circular), url('fonts/Circular-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('fonts/Circular-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src:  url('fonts/Circular-Medium.ttf') format('truetype'); 
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('fonts/Circular-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
  }

html, body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Circular', Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    user-select: none;
  }

body:focus {
    outline: none !important;
}

body {
    /* position: relative; */
    overflow: hidden; 
    background-color: #121212;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

svg {
    will-change: transform;
    contain: strict;
}

h1, h2, h5 {
    font-family: 'Circular', sans-serif;
    font-weight: 600; 
}

.h5 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}

.h3 {
    font-size: 1.7rem;
    font-weight: 600;
}

p {
    font-family: 'Circular', sans-serif;
    font-weight: 400; 
}

 #background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) rotate(0deg);
  background-image: conic-gradient(from 96deg at 14.89% 23.23%, #202F72 1.6699007526040077deg, #334FCD 22.583628594875336deg, #8D0B58 79.46412742137909deg, #FFD97E 93.41216683387756deg, rgba(50, 40, 49, 0.05) 138.01140189170837deg, rgba(40, 40, 40, 0.00) 303.7798476219177deg);
    background-repeat: no-repeat;
    filter: blur(100px);
    z-index: -1;
} 


#quizContainer {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

@media (min-width: 359px) and (max-width: 560px) {
    #answerContainer > div > p {
        width: 81%;
    }
  }

  @media (min-width: 561px) and (max-width: 992px) {
    #answerContainer > div > p {
        width: 75%;
    }
  }




@media (min-width: 992px) {
    #answerContainer {
        width: 80%;
        margin: 0 auto;
    }
    #answerContainer > div > p {
        max-width: 460px;
    }
    /* #answerContainer > div > img {
      width: 60%;
    } */
  }

  @media (max-width: 560px) and (min-width: 375px) {
    .quizOption {
        max-width: 110px;
    }
    h1#header {
        font-size: 1.45rem;
    }
  }

#quizZone {
    text-align: center;
    margin-top: 20px;
}

#spotifylogo-wrapper {
    animation: logoCheck 800ms forwards;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);

}

#quizZone h2, #quizAnswers {
    animation: questionIn 800ms forwards;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  }

@keyframes questionIn {
    0% {
        opacity: 0;
        transform: translateX(15%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }



h1#header {
    text-align: center;
    margin: 5rem auto 1.5rem auto

}

#quizZone > p {
    margin-bottom: 1.5rem;
}

#answerContainer > div > p {
 margin-top: .5rem;
}

/* #answerContainer > div > img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, .40));
} */


#quizAnswers {
    display: flex;
    justify-content: center; /* Added property */
    overflow: hidden; /* Added property */
  }
  

.quizOption {
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    transition: transform .4s ease-out 0s;
    -webkit-transition:  transform .4s ease-out 0s;
}
 

.quizOption span {
    font-size: .95rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 7px;
    max-width: 90px;
    z-index: 2;
}


.quizOption-img {
    transform: scale(1);
    transition: transform 800ms;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}


.quizOption:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transition: background-color 400ms ease-in;
    -ms-transition: background-color 400ms ease-in;
    transform: background-color 400ms ease-in;
}

.answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer p::after {
    content: ' ';
    display: block;
    clear: both;
}


@media screen and (max-width: 320px) {
    #quizContainer {
      padding: 10px; /* Add some padding to the container */
      box-sizing: border-box; /* Ensure padding doesn't increase container size */
    }
    .results-img {
        max-width: 230px;
    }

    /* #answerContainer > div > img {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    } */

    #quizZone > p {
        font-size: .9rem;
    }
    h1#header {
        font-size: 1.3rem;
    }
    .child-1 {
        max-width: 95%;
    }
    .child-2 svg {
        width: 75%;
    }
    .child-3 svg {
        width: 50%;
    }
    .child-3 {
        left: -110px;
    }
}

.hide {
    display: none;
}

#takeAgain {
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    user-select: none;
    top: 10px;
    left: 10px;
    height: 24px;
    width: 24px;
    padding: 20px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' shape-rendering='auto' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.49705 12C2.49705 9.87827 3.3399 7.84344 4.84019 6.34315C6.34048 4.84285 8.37531 4 10.497 4C12.6188 4 14.6536 4.84285 16.1539 6.34315C17.6542 7.84344 18.497 9.87827 18.497 12V12.647L17.2 11.349C17.1078 11.2535 16.9975 11.1773 16.8755 11.1249C16.7534 11.0725 16.6222 11.0449 16.4894 11.0437C16.3567 11.0426 16.225 11.0679 16.1021 11.1182C15.9792 11.1685 15.8675 11.2427 15.7737 11.3366C15.6798 11.4305 15.6055 11.5421 15.5552 11.665C15.5049 11.7879 15.4796 11.9196 15.4808 12.0524C15.4819 12.1852 15.5095 12.3164 15.5619 12.4384C15.6144 12.5604 15.6905 12.6708 15.786 12.763L19.498 16.475L23.211 12.763C23.3986 12.5754 23.5038 12.3209 23.5037 12.0556C23.5037 11.7904 23.3982 11.536 23.2105 11.3485C23.0229 11.161 22.7685 11.0557 22.5032 11.0558C22.2379 11.0559 21.9836 11.1614 21.796 11.349L20.498 12.647V12C20.498 6.477 16.021 2 10.498 2C4.97605 2 0.498047 6.477 0.498047 12C0.498047 17.523 4.97605 22 10.498 22C12.878 22 15.068 21.167 16.785 19.777L15.527 18.223C14.3523 19.1725 12.9328 19.7701 11.4327 19.9465C9.93256 20.123 8.41311 19.8712 7.05013 19.2202C5.68714 18.5692 4.5363 17.5456 3.73074 16.2679C2.92517 14.9902 2.4968 13.5105 2.49705 12Z' fill='white'/%3E%3C/svg%3E");
}


#quizBtn {
    cursor: pointer;
    color:white;
    transform: scale(1.01);
    border-radius: 1000px;
    background-color: #FFFFFF10;
    transition-duration: 200ms;
    transition-property: transform;
    transition-timing-function: ease-out;
}

#quizBtn:hover {
    color: white;
    border-radius: 1000px;
    background-color: #FFFFFF22;
    transform: scale(1.05);
    transition-duration: 200ms;
    transition-property: transform;
    user-select: none;
    transition-timing-function: ease-in;
}

#quizBtn:active {
    transform: scale(1.01);
    transition-duration: 200ms;
    transition-property: transform;
    user-select: none;
    outline: 2px solid #FFFFFF22;
    outline-offset: 3px;
    -webkit-box-pack: center;
    transition-timing-function: ease-in;
}

#EndlessSummerVacation, #YoungerNow, #PlasticHearts, #SheIsComing {
    z-index: -100;
}

/* #EndlessSummerVacation {
    background: linear-gradient(#0073b2, #004d77);
}

#YoungerNow {
    background: linear-gradient(#b47a90, #a6617b);
    background: #8f5168;
}

#PlasticHearts {
    background: linear-gradient(#a61855, #73143d);
}

#SheIsComing {
    background: linear-gradient(#676767, #3f3f3f);
    background: linear-gradient(#848484, #5d5d5d);
} */

#EndlessSummerVacation {
    background: linear-gradient(#005a8b, #003450);
}

#YoungerNow {
    background: linear-gradient(#a7617b, #7d4658);
}

#PlasticHearts {
    background: linear-gradient(#a61855, #73143d);
}

#SheIsComing {
    background: linear-gradient(#676767, #3f3f3f);
}

button {
   cursor: pointer;
   font-size: 16px;
   height: 48px;
   font-weight: 600;
   padding-left: 32px;
   padding-right: 32px;
   font-family: 'Circular', sans-serif;
   border-radius: 1000px;
   border: none;
}

#esv-listen-now {
    background-color: #004d77;
}

#esv-listen-now:hover {
    background-color: #005a8b;
}

#esv-listen-now:active {
    outline: 2px solid #005a8b;
}

#yn-listen-now {
    background-color: #96546a;
}

#yn-listen-now:hover {
    background-color: #a35b72;
}

#yn-listen-now:active {
    outline: 2px solid #a35b72;
}

#ph-listen-now {
    background-color: #8e194b;
}

#ph-listen-now:hover{
    background-color:#9f1c54;
}

#ph-listen-now:active {
    outline: 2px solid #9f1c54;
}

#sic-listen-now {
 background-color: #5d5d5d;
}

#sic-listen-now:hover {
    background-color: #676767;
}

#sic-listen-now:active {
   outline: 2px solid #676767;
}

/* #esv-listen-now {
    background-color: #004068;
}

#esv-listen-now:hover {
    background-color: #003454;
}

#esv-listen-now:active {
    outline: 2px solid #003454;
}

#yn-listen-now {
    background-color: #A6617B;
}

#yn-listen-now:hover {
    background-color: #ad6e85;
}

#yn-listen-now:active {
    outline: 2px solid #ad6e85;
}

#ph-listen-now {
    background-color: #B81860;
}

#ph-listen-now:hover{
    background-color: #c91a69;
}

#ph-listen-now:active {
    outline: 2px solid #c91a69;
}

#sic-listen-now {
 background-color: #535353;
}

#sic-listen-now:hover {
    background-color: #494949;
}

#sic-listen-now:active {
   outline: 2px solid #494949;
} */

#yn-listen-now, #esv-listen-now, #ph-listen-now, #sic-listen-now {
    transform: scale(1.01);
    color: #ffff;
    padding-left: 64px;
    padding-right: 64px;
    transition-duration: 400ms;
    transition-property: transform;
    transition-timing-function: ease-out;
}

#yn-listen-now:hover, #esv-listen-now:hover, #ph-listen-now:hover, #sic-listen-now:hover {
    color: white;
    border-radius: 1000px;
    transform: scale(1.05);
    user-select: none;
}

#yn-listen-now:active, #esv-listen-now:active, #ph-listen-now:active, #sic-listen-now:active {
    transform: scale(1.01);
    transition-duration: 400ms;
    transition-property: transform;
    user-select: none;
    outline-offset: 4px;
    -webkit-box-pack: center;
    transition: ease-in;
    -webkit-transition: ease-in;
}

#back-button {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
  }

  #back-button svg {
    fill: white;
  }

  #svgContainer {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    display: inline;
    }

  #quizZone h2 {
    margin-bottom: 2rem;
  }

  .fadeInUp {
    animation:fadeInUp 1s ease backwards;
}
@keyframes fadeInUp{
  0%{transform:translate(0px, 100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}

.artist-image {
    width: 100%;
}

.parent {
    position: relative;
}

.child-1 {
    position: relative;
    margin: 0 auto;
     display: flex;
    justify-content: center;
}


.child-2, .child-3, .child-4 {
    width: 100%;
    max-width: 100%;
    position: absolute;
}



 .child-2 {
    top: -30px;
    left: 55px;
    z-index: -1;
} 


.child-3 {
    left: -135px;
    transform: rotate(-10deg);
}

.child-4 {
    bottom: 100px;
    left: 90px;
    transform: rotate(10deg);
}  


.radial-star-rotate {
    animation: clipRotateAnim 15s linear infinite;
}


@keyframes clipRotateAnim {
    to {
      transform: rotate(360deg)
    }
  }


 
.image-row {
    position: absolute;
    bottom: -18%;
    max-width: 360px;
}  

#image-row-album-1, #image-row-album-2, #image-row-album-3, #image-row-album-4  {
    display: inline-block;
    border-radius: 3px;
    width: 23%; 
    margin-right: 1%; 
    height: auto;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, .40));
    animation: slide-in-anim .5s ease-out forwards;
    transform: translateY(30%);
    opacity: 0;
  }

#image-row-album-1 {
    rotate: -23deg;
}

#image-row-album-2 {
    rotate: -6.75deg;
    margin-left: -10px;
    margin-bottom: 15px;
    animation-delay: 200ms;
}

#image-row-album-3 {
    rotate: 5.62deg;
    margin-bottom: 15px;
    margin-left: -10px;
    animation-delay: 400ms;
}

#image-row-album-4 {
    rotate: 23deg;
    margin-bottom: -5px;
    margin-left: -10px;
    animation-delay: 600ms;
}

.animate {
    animation: slide-in-anim .5s ease-out forwards;
}


@keyframes slide-in-anim {
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


@media screen and (max-width: 560px) {
    #quizAnswers {
        display: grid;
        grid-template-rows:repeat(2,180px);
        grid-auto-flow: column; 
        column-gap:.01rem;
}
.answer {
    text-align: center;
}

.answer p {
    font-size: .9rem;
}
.quizOption span {
    margin-bottom: 0px;
    margin-top: 6px;
    font-size: .88rem;
}
h1#header {
    width: 75%;
}
  }


  @media screen and (min-width: 1201px) {
.parent {
    margin-bottom: 5.75rem;
}
h1#header {
    font-size: 1.75rem;
} 
  }


  @media (min-width: 414px) and (max-width: 992px) {
    h1#header {
        font-size: 1.55rem;
        margin: 5.5rem auto 1rem auto;
    } 
  }


        @media (min-width: 321px) and (max-width: 414px) {
    .image-row {
        width: 140%;
    }  
    h1#header {
        font-size: 1.5rem;
    }
    #quizZone h2 {
        max-width: 85%;
        margin: 0 auto 2rem auto;
    }
      }

          @media (min-width: 251px) and (max-width: 318px) {
            .image-row {
                    width: 120%;
                    bottom: -50px;
            }  
              }

      @media screen and (max-width: 250px) {
        .image-row {
            width: 140%;
            bottom: -35px;
        }  
        .parent {
            margin-bottom: 3rem;
        }
          }

          .scale {
            animation-name: myanimation;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
          }

          @keyframes myanimation {
            0% { transform: scale(0.0);}
           100% { transform: scale(1.0);}
          }

        .iframe-wrapper {
            /* width: 75%; */
            margin-top: 1.75rem;
            margin-bottom: 1.75rem;
            overflow: hidden; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
        }

       .results-img {
            box-shadow: 0 9px 9px 0 rgba(0,0,0,.1), 0 0 29px 0 rgba(0,0,0,.1);
            transition: transform 1.4s cubic-bezier(0.33, 1, 0.68, 1);
            transform-origin: center; 
        }

        .iframe-wrapper:hover .results-img {
            transform: scale(1.1);
        }


        @media screen and (max-width: 768px) {
            .iframe-wrapper {
                /* width: 75%; */
                margin-top: 1.75rem;
                margin-bottom: 1.75rem;
            }
            .results-img, .iframe-wrapper {
                border-radius: .35rem;
            }
            .results-img {
                width: 230px;
            }
            /* #desktop {
                display: none;
            } */
              }

              @media screen and (min-width: 769px) {
                /* .iframe-wrapper {
                    width: 75%;
                } */
                /* #mobile {
                    display: none;
                } */
                .results-img, .iframe-wrapper {
                    border-radius: .25rem;
                }
                .results-img {
                    width: 263px;
                }
                  }
    
                  .move-logo {
                    right: 20px;
                }


                